<!-- {% extends 'customer/home.html' %}
{% block content %}
<div style="text-align:center; padding:100px 0;">
    <h4>Redirecting to secure payment...</h4>
    <p>Please wait, do not close this window.</p>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "{{ razorpay_key_id }}",
        "amount": "{{ amount }}",
        "currency": "INR",
        "name": "Male Fashion",
        "description": "Order Payment",
        "order_id": "{{ razorpay_order_id }}",
        "handler": function (response) {
            window.location.href = "{% url 'payment_success' %}?payment_id=" + response.razorpay_payment_id + "&order_id=" + response.razorpay_order_id + "&signature=" + response.razorpay_signature;
        },
        "theme": {
            "color": "#000000"
        }
    };
    var rzp = new Razorpay(options);
    rzp.open();

    rzp.on('payment.failed', function (response) {
        window.location.href = "{% url 'shopping_cart' %}";
    });
</script>
{% endblock %} -->